:root {
  --primary-text: #000000;
  --secondary-text: #fffcfc;
  --white-text-white: #ffffff;
  --black-text-black: #000000;
}

.faq {
  width: 100%;

  margin-bottom: 50px;

  .container {
    flex-direction: column;

    .section__top {
      text-align: center;
      margin-bottom: 70px;

      .descr {
        color: #171811;
        text-align: center;

        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: 48px; /* 150% */

        @media (max-width: 676px) {
          font-size: 24px;
          font-style: normal;
          font-weight: 400;
          line-height: 32px;
        }
      }

      .section--title {
        @media (max-width: 676px) {
          font-size: 48px;
          font-style: normal;
          font-weight: 400;
          line-height: 56px;
        }
      }
    }

    .faq__content {
      width: 100%;

      .accordion-item:first-child {
        border-top: 1px solid #dee2e6 !important;
      }

      .accordion-button {
        display: flex;
        // align-items: center;
        gap: 30px;

        .number {
          color: #4b4b4b;

          font-size: 32px;
          font-style: normal;
          font-weight: 800;
          line-height: 150%; /* 48px */
          letter-spacing: -0.64px;
          opacity: 0.2;
        }
        h5 {
          color: #171811;
          text-align: center;
          font-family: "SONGER Grotesque";
          font-size: 34px;
          font-style: normal;
          font-weight: 400;
          line-height: 38px; /* 264.706% */
          text-transform: uppercase;
          margin-bottom: 0;

          @media (max-width: 480px) {
            font-size: 28px;
          }
        }
        span {
          width: 2px;
        }
      }
      .accordion-button:not(.collapsed) {
        background-color: var(--secondary-text);

        .number {
          opacity: 1;
        }
      }

      .accordion-button:not(.collapsed)::after {
        background-image: none;
        transform: none;
      }

      .accordion-button:focus {
        box-shadow: none;
      }

      .accordion-button:before {
        content: "";
        position: absolute;
        /*   right: 0.75rem; */
        right: 0.75rem;
        top: 1.25rem;
        height: 2px;
        width: 1rem;
        background-color: var(--primary-text);
        top: 0;
        bottom: 0;
        margin: auto;
      }
      .accordion-button.collapsed:after {
        content: "";
        position: absolute;
        right: 1.1875rem;
        top: 0.8125rem;
        height: 1.0625rem;
        width: 0.125rem;
        border-style: none;
        background-color: var(--primary-text);
        top: 0;
        bottom: 0;
        margin: auto;
      }

      .faq-section .accordion-button h5 {
        color: var(--primary-text);
        margin-right: 13px;
      }
      .accordion-body {
        background-color: var(--secondary-text);
        font-size: 20px;
        font-weight: 300;
        p {
          font-weight: 300;
          font-size: 20px;

          b {
            font-weight: 500;
          }
        }
      }

      @media screen and (min-width: 768px) {
        .accordion-button:before {
          right: 0.75rem;
        }

        .accordion-button.collapsed:after {
          right: 1.1875rem;
        }

        .faq-section .accordion-button h5 {
          margin-right: 0px;
        }
      }
    }
  }
}
