@font-face {
  font-family: "Qanelas"; /* Shrift nomi */
  src: url("../fonts/Qanelas-SemiBold.ttf") format("truetype"); /* OpenType format */
}
@font-face {
  font-family: "SONGER Grotesque"; /* Shrift nomi */
  src: url("../fonts/songer/SONGER™_G_Regular.otf") format("opentype"); /* OpenType format */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  transition: all 0.3s ease;
}

html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  box-shadow: 0 0 5px gray;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #6999cf;
  border-radius: 10px;
}

body {
  font-family: "Qanelas", sans-serif;
}

.wrapper {
  width: 100%;
  overflow: hidden;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 1200px) {
    padding: 0 20px;
  }
}

button {
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

.overlay {
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  content: "";
  opacity: 0.1;
  background: #1d1d1d;
  z-index: 2;
  opacity: 0.1;
  background: #1d1d1d;
}
//======== blue color for interface ===========
.section--title {
  color: #171811;

  /* H2 */
  font-family: "SONGER Grotesque";
  font-size: 76px;
  font-style: normal;
  font-weight: 400;
  line-height: 86px;
  text-transform: uppercase;
}

.blue {
  color: #6999cf;
}

.blue__btn {
  background: linear-gradient(
      273deg,
      rgba(255, 255, 255, 0) -3.08%,
      rgba(255, 255, 255, 0.2) 37.65%,
      rgba(255, 255, 255, 0.2) 53.88%,
      rgba(255, 255, 255, 0) 99.19%
    ),
    linear-gradient(0deg, #66a2d4 0%, #66a2d4 100%), #d9d9d9;
  box-shadow: 3.773px 4.312px 4.312px 0px rgba(255, 255, 255, 0.09) inset,
    -2.695px -1.078px 4.312px 0px rgba(255, 255, 255, 0.12) inset;
}

.nav-tabs .nav-link.active {
  background: #6999cf;
}

.calculate {
  background: url("../images/calculate__bg.jpg");

  .call__me {
    color: #6999cf;
  }
}

.blue_opacity {
  position: relative;
}
.blue_opacity::after {
  position: absolute;
  opacity: 0.08;
  content: "";
  width: calc(100% - 20px);
  height: 100%;
  background: #6999cf;
  left: 0;
}

.blue_opacity_05 td {
  color: #17181175;
}

.tarif {
  .container {
    background: url("../images/tarif__top-bg.png");
    .tarif__table {
      thead {
        tr {
          th {
            &:nth-child(2) {
              height: 100px;
              width: 280px;
              border-radius: 20px 20px 0px 0px;
              background: #6999cf;
            }
            &:nth-child(3) {
              height: 100px;
              width: 280px;
              border-radius: 20px 20px 0px 0px;
              background: linear-gradient(
                  0deg,
                  rgba(0, 0, 0, 0.2) 0%,
                  rgba(0, 0, 0, 0.2) 100%
                ),
                #6999cf;
            }
            &:nth-child(4) {
              height: 100px;
              width: 280px;
              border-radius: 20px 20px 0px 0px;
              background: linear-gradient(
                  0deg,
                  rgba(0, 0, 0, 0.4) 0%,
                  rgba(0, 0, 0, 0.4) 100%
                ),
                #6999cf;
            }
          }
        }
      }
    }
  }
}
.tarif .container .tarif__table::before {
  position: absolute;
  content: "";
  width: 304px;
  height: 304px;
  background-image: url("../images/tarif__aylana.png");
  top: -120px;
  left: 80px;
}

.container .slick-prev:before,
.container .slick-next:before {
  background: linear-gradient(
      273deg,
      rgba(255, 255, 255, 0) -3.08%,
      rgba(255, 255, 255, 0.2) 37.65%,
      rgba(255, 255, 255, 0.2) 53.88%,
      rgba(255, 255, 255, 0) 99.19%
    ),
    #6999cf;
  box-shadow: inset 3.773px 4.312px 4.312px 0px rgba(255, 255, 255, 0.09),
    inset -2.695px -1.078px 4.312px 0px rgba(255, 255, 255, 0.12);
}

.feedback
  .container
  .slick__corosel.text__content
  .content
  .row
  svg
  path:first-child {
  fill: #6999cf;
}
.feedback
  .container
  .slick__corosel.text__content
  .content
  .row
  svg
  path:last-child {
  stroke: #6999cf;
}

.texnology .container .texnology__middle main .btn {
  background: linear-gradient(
      273deg,
      rgba(255, 255, 255, 0) -3.08%,
      rgba(255, 255, 255, 0.2) 37.65%,
      rgba(255, 255, 255, 0.2) 53.88%,
      rgba(255, 255, 255, 0) 99.19%
    ),
    #6999cf;
  box-shadow: 3.773px 4.312px 4.312px 0px rgba(255, 255, 255, 0.09) inset,
    -2.695px -1.078px 4.312px 0px rgba(255, 255, 255, 0.12) inset;
}
