.blue {
  color: #505050;
}

.blue__btn {
  background: linear-gradient(
      273deg,
      rgba(255, 255, 255, 0) -3.08%,
      rgba(255, 255, 255, 0.2) 37.65%,
      rgba(255, 255, 255, 0.2) 53.88%,
      rgba(255, 255, 255, 0) 99.19%
    ),
    linear-gradient(0deg, #505050 0%, #505050 100%), #d9d9d9;
}

.header .phone span {
  color: #505050;
  border-bottom: 1px dashed #505050;
}

.hero {
  &.hero__first {
    background: url("../images/hero__black.png");
  }
}

.ideal .modal__block .slider-for li {
  button {
    &::before {
      background: #505050;
    }
  }
}

.news .date {
  .sana {
    color: #505050;
  }
}

.solution .solution__card--img {
  background: linear-gradient(
      273deg,
      rgba(255, 255, 255, 0) -3.08%,
      rgba(255, 255, 255, 0.2) 37.65%,
      rgba(255, 255, 255, 0.2) 53.88%,
      rgba(255, 255, 255, 0) 99.19%
    ),
    #505050;
}

.nav-tabs .nav-link.active {
  background: #505050;
}

.calculate {
  background: url("../images/calculate__bg-black.png");

  .call__me {
    color: #505050;
  }
}

.blue_opacity::after {
  background: #505050;
}

.tarif {
  .container {
    background: url("../images/tarif__top-bg-black.png");
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 77%;
    .tarif__table {
      &::before {
        background-image: url("../images/tarif__aylana-black.png");
      }
      thead {
        tr {
          th {
            &:nth-child(2) {
              background: #505050;
            }
            &:nth-child(3) {
              background: linear-gradient(
                  0deg,
                  rgba(0, 0, 0, 0.2) 0%,
                  rgba(0, 0, 0, 0.2) 100%
                ),
                #505050;
            }
            &:nth-child(4) {
              background: linear-gradient(
                  0deg,
                  rgba(0, 0, 0, 0.4) 0%,
                  rgba(0, 0, 0, 0.4) 100%
                ),
                #505050;
            }
          }
        }
      }
    }

    .tarif__table__col1 {
      &::before {
        background-image: url("../images/tarif__aylana-black.png");
      }
      thead {
        tr {
          th {
            &:nth-child(2) {
              background: #505050;
            }
            &:nth-child(3) {
              background: linear-gradient(
                  0deg,
                  rgba(0, 0, 0, 0.2) 0%,
                  rgba(0, 0, 0, 0.2) 100%
                ),
                #505050;
            }
            &:nth-child(4) {
              background: linear-gradient(
                  0deg,
                  rgba(0, 0, 0, 0.4) 0%,
                  rgba(0, 0, 0, 0.4) 100%
                ),
                #505050;
            }
          }
        }
      }
    }
  }
}

.container .slick-prev:before,
.container .slick-next:before {
  background: linear-gradient(
      273deg,
      rgba(255, 255, 255, 0) -3.08%,
      rgba(255, 255, 255, 0.2) 37.65%,
      rgba(255, 255, 255, 0.2) 53.88%,
      rgba(255, 255, 255, 0) 99.19%
    ),
    #505050;
  box-shadow: inset 3.773px 4.312px 4.312px rgba(255, 255, 255, 0.09),
    inset -2.695px -1.078px 4.312px rgba(255, 255, 255, 0.12);
}

.feedback
  .container
  .slick__corosel.text__content
  .content
  .row
  svg
  path:first-child {
  fill: #505050;
}
.feedback
  .container
  .slick__corosel.text__content
  .content
  .row
  svg
  path:last-child {
  stroke: #505050;
}

.feedback .text_and_video li.active {
  background: #505050 !important;
}
.feedback .slick-dots li {
  &.slick-active {
    background: #505050 !important;
  }
}

.texnology .container .texnology__middle main .btn {
  background: linear-gradient(
      273deg,
      rgba(255, 255, 255, 0) -3.08%,
      rgba(255, 255, 255, 0.2) 37.65%,
      rgba(255, 255, 255, 0.2) 53.88%,
      rgba(255, 255, 255, 0) 99.19%
    ),
    #505050;
}

.faq {
  .faq__content .number {
    color: #505050 !important;
  }
}

.chegirma {
  .white__btn {
    color: #505050;
  }

  .slides.slide1 {
    background: url("../images/chegirma__bg--line-black.png");
  }
  .slides.slide2 {
    background: url("../images/chegirma__bg--line-black.png");
  }
}

.ideal
  .container
  .tabs
  .tab-content__cards
  .card
  .card__project
  .modal__block
  .modal__row
  .right
  .modal__right-row
  .modal__price
  .modal__price--rubl
  svg
  path {
  stroke: #505050 !important;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.feedback .slick__corosel .play__btn {
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.19) 0%,
      rgba(0, 0, 0, 0.19) 100%
    ),
    #505050 !important;
  &::before {
    background-color: #505050 !important;
  }
}
