.photosproject {
  width: 100%;

  margin-bottom: 80px;

  .container {
    flex-direction: column;

    .section__top {
      .descr {
        color: #171811;
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: 48px; /* 150% */

        text-align: center;

        margin-bottom: 2px;

        @media (max-width: 676px) {
          font-size: 24px;
          font-style: normal;
          font-weight: 400;
          line-height: 32px; /* 133.333% */
        }
      }

      .section--title {
        text-align: center;
        @media (max-width: 676px) {
          font-size: 48px;
          font-style: normal;
          font-weight: 400;
          line-height: 56px;
        }
      }
    }

    .projects__slider {
      width: calc(100vw - 25px);
      overflow: hidden;
      display: flex;
      justify-content: center;

      @media (max-width: 676px) {
        display: flex;
        justify-content: center;
      }

      .slider {
        width: 1170px;
        margin: auto;

        padding: 20px 0;
      }

      .slick-list {
        overflow: visible;
      }

      .slick-slide {
        border: 10px solid transparent;
        display: flex;
        flex-direction: column;
        gap: 10px;
        opacity: 0.3;
        img {
          margin-bottom: 10px;
        }
        .slick-track {
          display: flex !important;
        }
      }

      .slick-active {
        padding: 0;
        opacity: 1;
        // margin: 0 20px;
      }

      .slick-dots {
        bottom: 5px;

        li {
          width: 171px;
          height: 4px;
          border-radius: 2px;
          background: var(--dark-gray, #ebebeb);
          &.slick-active {
            border-radius: 2px;
            background: var(--BlueV-main, #6999cf);
          }

          button {
            display: none;
          }
        }
      }

      .slider .column {
        text-align: center;
        width: 1170px;
        // margin: 0 auto;
        // border: 1px solid;
      }

      .slider .column img {
        width: 100%;
        height: auto;
      }

      .slick-prev {
        z-index: 1;
        left: -37px;

        @media (max-width: 1250px) {
          left: -7px;
        }
        @media (max-width: 1200px) {
          display: none;
        }
      }
      .slick-next {
        z-index: 1;
        right: 17px;

        @media (max-width: 1250px) {
          right: 47px;
        }
        @media (max-width: 1200px) {
          display: none;
        }
      }

      .slick-prev:before,
      .slick-next:before {
        border: 8px solid #fff;
        opacity: 1;
        width: 74px;
        height: 74px;
        transform: translateY(-50%);
        line-height: 1;

        position: relative;

        display: flex;
        justify-content: center;
        align-items: center;

        border-radius: 50%;

        @media (max-width: 1195px) {
          display: none;
        }
      }

      .slick-prev:before {
        content: "";
        background-image: url("../icons/prev.png");
        background-position: center;
        background-repeat: no-repeat;
      }

      .slick-next:before {
        content: "";
        background-image: url("../icons/next.png");
        background-position: center;
        background-repeat: no-repeat;
      }
    }
  }
}
