.vkontakt {
  width: 90%;
  margin: 0 auto;
  padding: 30px 0;
  border-radius: 30px;

  background: url("../images/vkontakt__bg-line.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  margin-bottom: 50px;

  @media (max-width: 1200px) {
    margin-top: 250px;
  }
  @media (max-width: 768px) {
    margin-top: 50px;
  }

  .container {
    @media (max-width: 1200px) {
      flex-direction: column-reverse;

      height: 1000px;
    }
    @media (max-width: 768px) {
      flex-direction: column-reverse;

      height: auto;
    }
  }

  .left {
    .section--title {
      color: #171811;

      /* H2 */
      font-family: "SONGER Grotesque";
      font-size: 76px;
      font-style: normal;
      font-weight: 400;
      line-height: 86px; /* 113.158% */
      text-transform: uppercase;

      margin-bottom: 55px;

      @media (max-width: 768px) {
        font-size: 64px;
        line-height: normal;
      }
      @media (max-width: 676px) {
        font-size: 48px;
      }
    }

    .btn {
      width: 258px;
      height: 90px;
      border-radius: 100px;

      color: #fff;
      text-align: center;

      font-size: 16.189px;
      font-style: normal;
      font-weight: 700;
      line-height: 11.859px; /* 73.253% */
      letter-spacing: 2.024px;
      text-transform: uppercase;
    }
  }

  .right {
    position: relative;

    @media (max-width: 1200px) {
      display: flex;
      justify-content: center;
    }
    img {
      transform: translateY(-100px);
      @media (max-width: 1200px) {
        margin-top: 0px;
        transform: translateY(-50px);

        width: 90%;
      }
      @media (max-width: 768px) {
        width: 60%;
        margin-top: -100px;
      }
      @media (max-width: 810px) {
        width: 75%;
        margin-top: -100px;
      }
    }
  }
}
