.blue {
  color: #efc148;
}

.blue__btn {
  background: linear-gradient(273deg, rgba(255, 255, 255, 0) -3.08%, rgba(255, 255, 255, 0.2) 37.65%, rgba(255, 255, 255, 0.2) 53.88%, rgba(255, 255, 255, 0) 99.19%), linear-gradient(0deg, #efc148 0%, #efc148 100%), #d9d9d9;
}

.header .phone span {
  color: #efc148;
  border-bottom: 1px dashed #efc148;
}

.hero.hero__first {
  background: url("../images/hero__yellow.jpg");
}

.ideal .modal__block .slider-for li button::before {
  background: #efc148;
}

.news .date .sana {
  color: #efc148;
}

.solution .solution__card--img {
  background: linear-gradient(273deg, rgba(255, 255, 255, 0) -3.08%, rgba(255, 255, 255, 0.2) 37.65%, rgba(255, 255, 255, 0.2) 53.88%, rgba(255, 255, 255, 0) 99.19%), #efc148;
}

.nav-tabs .nav-link.active {
  background: #efc148;
}

.calculate {
  background: url("../images/calculate__bg-yellow.png");
}
.calculate .call__me {
  color: #efc148;
}

.blue_opacity::after {
  background: #efc148;
}

.tarif .container {
  background: url("../images/tarif__top-bg-yellow.png");
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 77%;
}
.tarif .container .tarif__table::before {
  background-image: url("../images/tarif__aylana-yellow.png");
}
.tarif .container .tarif__table thead tr th:nth-child(2) {
  background: #efc148;
}
.tarif .container .tarif__table thead tr th:nth-child(3) {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%), #efc148;
}
.tarif .container .tarif__table thead tr th:nth-child(4) {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%), #efc148;
}
.tarif .container .tarif__table__col1::before {
  background-image: url("../images/tarif__aylana-yellow.png");
}
.tarif .container .tarif__table__col1 thead tr th:nth-child(2) {
  background: #efc148;
}
.tarif .container .tarif__table__col1 thead tr th:nth-child(3) {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%), #efc148;
}
.tarif .container .tarif__table__col1 thead tr th:nth-child(4) {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%), #efc148;
}

.container .slick-prev:before,
.container .slick-next:before {
  background: linear-gradient(273deg, rgba(255, 255, 255, 0) -3.08%, rgba(255, 255, 255, 0.2) 37.65%, rgba(255, 255, 255, 0.2) 53.88%, rgba(255, 255, 255, 0) 99.19%), #efc148;
  box-shadow: inset 3.773px 4.312px 4.312px rgba(255, 255, 255, 0.09), inset -2.695px -1.078px 4.312px rgba(255, 255, 255, 0.12);
}

.feedback .container .slick__corosel.text__content .content .row svg path:first-child {
  fill: #efc148;
}

.feedback .container .slick__corosel.text__content .content .row svg path:last-child {
  stroke: #efc148;
}

.feedback .text_and_video li.active {
  background: #efc148 !important;
}

.feedback .slick-dots li.slick-active {
  background: #efc148 !important;
}

.texnology .container .texnology__middle main .btn {
  background: linear-gradient(273deg, rgba(255, 255, 255, 0) -3.08%, rgba(255, 255, 255, 0.2) 37.65%, rgba(255, 255, 255, 0.2) 53.88%, rgba(255, 255, 255, 0) 99.19%), #efc148;
}

.faq .faq__content .number {
  color: #efc148 !important;
}

.chegirma .white__btn {
  color: #efc148;
}
.chegirma .slides.slide1 {
  background: url("../images/chegirma__bg--line-yellow.png");
}
.chegirma .slides.slide2 {
  background: url("../images/chegirma__bg--line-yellow.png");
}

.ideal .container .tabs .tab-content__cards .card .card__project .modal__block .modal__row .right .modal__right-row .modal__price .modal__price--rubl svg path {
  stroke: #efc148 !important;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.feedback .slick__corosel .play__btn {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.19) 0%, rgba(0, 0, 0, 0.19) 100%), #efc148 !important;
}
.feedback .slick__corosel .play__btn::before {
  background-color: #efc148 !important;
}/*# sourceMappingURL=yellow.style.css.map */